<section>
  <button (click)="changeLangage('ar')">Arabic</button>
  <button (click)="changeLangage('en')">English</button>
  <div class="container-fluid">
    <app-control></app-control>
    <div class="row row-reverse">
      <div class="col-md-5">
        <app-name></app-name>
      </div>
      <div class="col-md-7">
        <app-time></app-time>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <app-avaliable></app-avaliable>
      </div>
    </div>
  </div>
</section>
